################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sitecore.ResetItemFields.WithTDS/Sitecore.ResetItemFields/packages
/Sitecore.ResetItemFields.WithTDS/Sitecore.ResetItemFields/Sitecore.ResetItemFields/bin
/Sitecore.ResetItemFields.WithTDS/Sitecore.ResetItemFields/Sitecore.ResetItemFields/obj/Debug
